* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(3, 0, 29);
    color: white;
    font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color:rgb(13, 4, 94) ;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 30px;
}
.left{
    font-size: 1.8rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}
.firstsection div{
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
    width: 30%;
}
.leftsection{
    background-color:red;
    display: flex;
    font-size: 3rem;
}
.rightsection img{
    width: 50%;
    height: auto;
    margin: 50px 0;
}
